*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html{
    scroll-behavior: smooth;
    transition: 5s;
} */
.featurette {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
   
}

.featurette h2 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.featurette p {
    color: #666;
    text-align: center;
}
/* img{
    transition:all 2s ease-in-out;
}
img:hover{
    opacity: 0;
    transform: rotate3d(1, .5, .5, 180deg) scale(0.1);

} */


@media screen and (max-width: 800px){
    .featurette img{
        width: 180px;
        height: 200px;
        border: 1px solid gold;
    }

    .featurette .right{
        margin-left: 1rem;
    }

    .featurette .left{
        margin-right: 1rem;
    }
}

  /* Media Query Mobile view */
  /* @media screen and (max-width: 460px){
    
} */



